.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.text-input {
  display: block;
  margin: auto;
  width: 50%;
}

.button {
  margin-top: 20px;
  margin-left: 5px;
}

.dataset {
  border: 1px solid white;
  margin:auto;
  margin-bottom: 20px;
  width: 400px
}
